* {
  margin: 0;
  padding: 0;
  text-indent: 0;
}

.divisor {
  display: flex;
}

/* .divisor__image {
  background-image: url("https://media-exp1.licdn.com/dms/image/C4D0BAQFa__yr9SnhHw/company-logo_200_200/0/1618499057213?e=2159024400&v=beta&t=IeGAnh6VCqw_KrbbafQE7rR_dx9EXIuAEB-cZHxExTA");
  background-size: 299px 300px;
  background-repeat: no-repeat;
} */

.divisor__background {
  width: 100%;
  background-color: #11325f;
  background-image: linear-gradient(
    to top right,
    transparent,
    rgba(255, 255, 255, 0.17)
  );
}

.divisor__background__content {
  display: block;
  padding-left: 100px;
  padding-top: 50px;
}

.divisor__background__address_site {
  display: flex;
  padding-bottom: 30px;
}

a {
  text-decoration: none;
  color: #fff;
}

.divisor__background__name {
  display: flex;
  width: 100%;
  color: #40c2ff;
  font-weight: bold;
  font-size: 50px;
}

.divisor__background__info1 {
  color: #fff;
  padding-bottom: 10px;
  font-size: 17px;
  font-weight: 600;
}
.divisor__background__info2 {
  color: #fff;
  font-size: 17px;
  font-weight: 600;
}
.divisor__background__contact {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.divisor__background__contact-mail {
  padding-right: 25px;
  font-size: 22px;
  color: #fff;
}

.divisor__background__contact-tel {
  font-size: 22px;
  color: #fff;
}

.divisor__background__contact-i-mail {
  padding-right: 10px;
}

.divisor__background__contact-i-tel {
  padding-right: 10px;
}
